.li {
    display: flex;
    justify-content: space-between;
    background-color: #CC8B65;
    padding: 20px;
    border-radius: 6px;
    width: 150px;
}
.contactName {
    color: #342628;
}
.contactNumber {
    color: #E3DCD2;
}
.button {
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: #342628;
    color: #E3DCD2;
    &:hover {
        background-color: #E3DCD2;
        color: #342628;
    }
}