.userMenu {
    display: flex;
    align-items: center;
    gap: 20px;
}
.welcomeText {
    font-size: 24px;
    color: #E3DCD2;
}
.btn {
    font-family: Comfortaa, sans-serif;
    color: #CC8B65;
    text-decoration: none;
    background: transparent;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
        background-color: #E3DCD2;
    }
}